# OS junk files

# Vscode files
*.code-workspace

# Cache data
.cache
.vscode/res

# Cmake files
[Bb]uild*/
*.Cmake
MakeFile

# C Build files
*.o
*.lst

# Python build files
__pycache__
*.egg-info
dist
htmlcov
.coverage
